---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";

const data = {
  header: {
    imagePath: "/src/assets/care-provider-reading-with-senior-patient.jpg",
    imageAlt: "Dementia Care Support",
    headerH1: "Dementia Care Articles",
    paragraph: "Alzheimer’s disease is a progressive neurological disorder affecting memory, thinking, and behavior. It is the most common cause of dementia, leading to cognitive decline and an increasing need for care.",
    buttons: [
    {
        name: "Contact",
        link: "#contact-us"
      },
      {
        name: "Home",
        link: "/"
      },
    ]
  },
};

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout
  siteTitle="Dementia Care Blog | Sarasota Dementia Support"
  siteDescription="Explore expert insights, caregiving tips, and the latest research on dementia. Learn how to support loved ones with Alzheimer's, Lewy body dementia, vascular dementia, and other memory-related conditions."
  keywords="Dementia care, Alzheimer's support, Lewy body dementia, vascular dementia, caregiving tips, Sarasota dementia care"
>
  <Header data={ data.header }/>

  <section class="max-w-7xl mx-auto p-5 bg-purple-100 rounded-xl">
  <div class="mx-auto py-12 lg:px-8">
    <ul class="grid gap-5 grid-cols-1 lg:grid-cols-2">
      {
        posts.map((post, index) => (
          <li class="h-fit group ring-2 ring-yellow-500 bg-gray-100 overflow-hidden rounded-md lg:first:col-span-2 lg:first:h-96 hover:bg-gray-200 duration-300">
            <a
              href={`/blog/${post.slug}/`}
              class={`flex gap-5 h-full ${index === 0 ? "" : ""}`}
            >
              <div class="flex-[1.7_1.7_0] h-full flex flex-col justify-between pl-6 py-6">
                <div
                  class={`flex flex-col ${index === 0 ? "gap-1 lg:gap-5" : "gap-1"}`}
                >
                  <div class="flex items-center gap-1">
                    <p class="font-medium text-sm text-gray-700 leading-none">
                      {post.data.author}
                    </p>
                  </div>
                  <h4
                    class={`font-semibold leading-5 text-gray-600 ${index === 0 ? "text-2xl lg:text-4xl" : "text-xl"}`}
                  >
                    {post.data.title}
                  </h4>
                  <p
                    class={`${index === 0 ? "hidden lg:text-lg md:block" : "hidden"} pr-8`}
                  >
                    {post.data.description}
                  </p>
                </div>
                <p class="text-gray-500 mt-4 text-sm">
                  {post.data.readingTime} read ·{" "}
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </div>
              <div class="flex-1 md:aspect-square overflow-hidden">
                <img
                  src={post.data.heroImage}
                  alt={post.data.imgAlt}
                  class="h-full object-cover w-full group-hover:scale-110 duration-500"
                />
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>

  </section>
</BaseLayout>
