---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import ContentBg from "../components/Content-bg.astro";
import BentoGrid from "../components/BentoGrid.astro";
import ContactForm from "../components/ContactForm.astro";
import LogoCloudRight from "../components/LogoCloudRight.astro";
import ProviderFor from "../components/ProviderFor.astro";

const landingData = {
  hero: {
    heading: `Aircraft Maintenance Services`,
    subHeading: "at Heritage Field Airport, KPTW, Pottstown, PA",
    description: `Penn Air Repair is your one-stop shop for top-tier aircraft
          maintenance and repair services. Our expert team is dedicated to
          keeping your aircraft flying safely and efficiently.`,
  },

  providerFor: {
    title: "Primary maintenance provider for:",
    logos: [
      {
        imagePath: "/src/assets/pennjetllc.webp",
        imageAlt: "PennJet LLC Logo",
        link: "https://pennjet.net/",
      },
      {
        imagePath: "/src/assets/pitcairn-logo-400.webp",
        imageAlt: "Pitcairn Flight Academy Logo",
        link: "https://pitcairnflightacademy.com/",
      },
    ],
  },
  partners: {
    id: "partners",
    heading: "Trusted by Our Clients",
    description:
      "We have the expertise to service a diverse range of aircraft from leading manufacturers. Our team is dedicated to providing top-tier maintenance and repair services to keep your aircraft flying safely and efficiently. Contact us to learn more about our services for your specific aircraft model.",
    logos: [
      {
        imagePath: "/src/assets/penn-air-cessna.webp",
        imageAlt: "Cessna logo",
      },
      {
        imagePath: "/src/assets/penn-air-piper.webp",
        imageAlt: "Piper logo",
      },
      {
        imagePath: "/src/assets/penn-air-beechcraft.webp",
        imageAlt: "Beechcraft logo",
      },
      {
        imagePath: "/src/assets/penn-air-lycoming.webp",
        imageAlt: "Lycoming logo",
      },
      {
        imagePath: "/src/assets/penn-air-continental.webp",
        imageAlt: "Continental logo",
      },
    ],
  },
  services: {
    id: "our-services",
    upperheading: "What We Do",
    heading: "Keep Your Aircraft Flying",
    description: `Penn Air Repair provides a comprehensive range of <a href="/services" class="font-semibold text-red-800 hover:underline">aircraft maintenance services</a>, ensuring the safety and airworthiness of your aircraft. Our expertise encompasses engine overhauls, meticulous airframe inspections, and the installation of new or overhauled components. We meticulously perform <a href="/services/100-hour-inspection" class="font-semibold text-red-800 hover:underline">100-hour inspection</a> and <a href="/services/annual-inspection" class="font-semibold text-red-800 hover:underline">annual inspection</a> to adhere to FAA regulations and maintain peak aircraft performance.`,
    cards: [
      {
        imagePath: "/src/assets/DG inspecting wing repair.jpg",
        imageAlt: "Penn Air Repair aircraft maintenance",
        title: "Maintenance Oversight",
        descriptions: [
          "Our maintenance technicians are ready to handle your aircraft repair and maintenance needs. From routine inspections and preventative maintenance to major repairs and pre-buy inspections, we are your one stop source for aircraft repair and maintenance.",
          "Safety is our top priority. Our team of experienced technicians is dedicated to ensuring that your aircraft is maintained to the highest standards of safety and reliability. So you can rest assured that your aircraft is in good hands.",
          "Your aircraft is a significant investment. Our team will work with you to develop a maintenance plan that is tailored to your aircraft's specific needs.",
        ],
      },
      {
        title: "Airframe and Powerplants",
        descriptions: [
          "Our experience encompasses a wide range of airframes and powerplants in the aviation industry. We have a proven track record in servicing aircraft models including Cessna, Beech, Piper, and a host of other general aviation platforms. Our team's proficiency in handling these diverse airframes and powerplants is a testament to our dedication to providing comprehensive aviation maintenance solutions.",
          "We are committed to providing the highest quality service to our customers. You can trust us to deliver the best possible service for your aircraft.",
        ],
      },
      {
        title: "Turboprop Aircraft",
        descriptions: [
          "We also work with and have decades of experience in the maintenance of turboprop aircraft, such as the King Air, Pilatus, and Cessna. Penn Air Repair proudly considers itself a specialist in the realm of turboprop aircraft care. We are well equipped to cater to the unique maintenance needs of your aircraft. Whether it's light inspections or routine maintenance, you can trust us to deliver top tier service.",
          "Every aircraft is unique, and we understand that. Our experienced team will work with you to develop a maintenance plan that is tailored to your aircraft's specific needs.",
        ],
      },
      {
        imagePath: "/src/assets/penn-air-engine.webp",
        imageAlt: "Penn Air Repair engine maintenance",
        title: "Engine Maintenance",
        descriptions: [
          "Penn Air Repair offers comprehensive maintenance services with a broad spectrum of capabilities. Our ability to efficiently handle your engine maintenance and inspection needs is enhanced by our strong connections with industry leading engine affiliates. Typically, engine replacements are seamlessly integrated into regular inspection cycles, ensuring minimal downtime.",
          "Your aircraft's engine is the heart of your aircraft. Our team will inspect, repair, and maintain that engine to ensure that it is operating at peak performance.",
        ],
      },
    ],
  },
  howWeDoIt: {
    id: "how-we-do-it",
    imagePath: "/src/assets/kai-oberhauser-ELCSOhGi73M-unsplash.jpg",
    imageAlt: "Penn Air Repair aircraft maintenance",
    upperheading: "How We Do It",
    heading: "Our Process",
    sections: [
      {
        description: `Repair and Service`,
        paragraph:
          "Penn Air Repair excels in aircraft repair and maintenance. Our skilled technicians handle a broad spectrum of needs, from minor fixes to major overhauls. We prioritize swift, high-quality service to minimize aircraft downtime. Whether it's engine, airframe, or minor structural work, trust us to ensure your aircraft's safety and reliability.",
      },
      {
        description: `Inspections`,
        paragraph:
          "At Penn Air Repair, we conduct FAA mandated annual aircraft inspections with precision and expertise. Our experienced technicians thoroughly examine your aircraft's systems, components, and documentation to ensure airworthiness and compliance with FAA regulations.",
      },
      {
        description: `Parts and MRO`,
        paragraph:
          "Penn Air Repair offers a wide range of quality aircraft parts for your maintenance and repair needs. We stock consumable parts and source from reputable manufacturers, ensuring reliability and efficiency. Trust us for prompt and efficient supply of the right parts to keep your aircraft safe and operational.",
      },
    ],
  },
};
---

<BaseLayout>
  <Hero data={landingData.hero}/>
  <ProviderFor data={landingData.providerFor} />
  <LogoCloudRight data={landingData.partners} />
  <BentoGrid data={landingData.services} />
  <ContentBg data={landingData.howWeDoIt} />
  <ContactForm />
</BaseLayout>
