---
import ImageComp from "./ImageComp.astro";

const { data } = Astro.props;
---

<section class="bg-gradient-to-br from-gray-200 via-gray-100 to-purple-400 py-32 lg:pt-24 lg:pb-32 m-2 lg:m-8 rounded-xl" id={data.id}>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
      <div class="mx-auto w-full max-w-xl lg:mx-0">
        <h2
          class="text-pretty text-5xl lg:text-6xl font-semibold text-yellow-500"
          style="text-shadow: 2px 2px 4px black;"

        >
          {data.heading}
        </h2>
        <p class="mt-6 text-xl/8 font-parag text-gray-800"
          set:html={data.description}
        >
        </p>
        <div class="mt-8 flex items-center gap-x-6">
          <a
            href="https://rightaccordhealth.com/specialty-care/alzheimers-dementia-care"
            target="_blank"
            class="rounded-md bg-purple-800 px-3.5 py-2.5 text-lg font-semibold text-white shadow-sm hover:bg-purple-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-600"
            >Right Accord HHC <span aria-hidden="true">&rarr;</span></a>
          <a
            href="https://rightaccordseniorservices.com/"
            target="_blank"
            class="rounded-md bg-purple-800 px-3.5 py-2.5 text-lg font-semibold text-white shadow-sm hover:bg-purple-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-600"
            >Right Accord PS <span aria-hidden="true">&rarr;</span></a
          >
        </div>
      </div>
      <div
        class="mx-auto flex flex-wrap items-center justify-center gap-x-8 gap-y-8 lg:gap-x-16 lg:gap-y-16"
      >
        {
          data.logos.map((logo) => (
            <ImageComp
              imagePath={logo.imagePath}
              imageAlt={logo.imageAlt}
              styles="object-contain object-center rounded-xl"
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
