---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";
import LogoCloudRight from "../components/LogoCloudRight.astro";

const content = {
  partners: {
    id: "partners",
    heading: "Need help?",
    description:
      `If you or a loved one in the Sarasota-Bradenton area is facing the challenges of dementia, help is available at <a href="https://rightaccordhealth.com/specialty-care/alzheimers-dementia-care" target="_blank" class="font-semibold text-purple-800 hover:underline">Right Accord Home Health Care</a> as well as Right Accord Placement Services. Our compassionate team provides personalized in-home care designed to support families and individuals struggling with dementia. Whether you need assistance with daily activities, memory care, or emotional support, we are here to help. Contact us today to learn how we can improve quality of life for you and your family.`,
    logos: [
      {
        imagePath: "/src/assets/holding-hands-with-senior-patient.jpg",
        imageAlt: "holding hands with senior patient",
      },
    ],
  },
};

type Props = CollectionEntry<"blog">["data"];

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  imgAlt,
  author,
  readingTime,
  category,
  tags,
} = Astro.props;
---

<BaseLayout
  pageTitle=`${title} | Blog | Summit Flight Academy`
  pageDescription={description}
  pageKeywords={`blog, private pilot's license, written exam, pilot resources, flight training, kansas city flight school, exam preparation, pilot licensing, aviation blog, pilot tips and tricks` +
    category +
    tags?.join(", ")}
>
  <article class="flex flex-col mt-36 mb-24 max-w-4xl mx-auto p-5 gap-5">
    <h1 class="text-4xl lg:text-5xl font-bold">{title}</h1>
    <div class="flex items-center gap-3">
      <div>
        <p>{author}</p>
        <p>{readingTime} read · <FormattedDate date={pubDate} /></p>
      </div>
    </div>
    <div class="">
      {
        heroImage && (
          <img
            src={heroImage}
            alt={imgAlt}
            class="aspect-[4/3] object-cover w-full h-full"
          />
        )
      }
    </div>
    <div class="w-full">
      <slot />
    </div>
  </article>
  <div
    class="mt-10 flex items-center justify-center gap-x-6"
  >
    <a
      href="#help" id="help"
      class="rounded-md bg-purple-800 duration-200 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-purple-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-400"
      >Need help? </a
    >
  </div>
  </div>
  <LogoCloudRight data={content.partners} />
</BaseLayout>
